.box {
    background-color: #3d3b3b;
    color: white;
    margin: 20px;
    padding: 20px;
    font-family: sans-serif;
  }

  .background-color {
    background-color: #181717;
    font-family: sans-serif;
    font-size: 15pt;
  }

  body {margin:0;}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #e42b13;
  background-image: linear-gradient(#dba040, rgb(195, 138, 63))
}

.endbox {
    background-color: black;
    display: flex;
    flex-direction: column;
}

.endbox2 {
  background-color: black;
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.flex-container {
  display: flex;
  flex-direction: row;
}